<h1><%= @user.username %>'s Page</h1>

<h3>Subs you are moderating:</h3>
<ul>
<% @user.subs.each do |sub| %>
    <li>
        <a href="<%= sub_url(sub) %>"><%= sub.title %></a>
    </li>
<% end %>
</ul>