<h1>Log In</h1>

<form action="<%= session_url %>" method="post">
    <label for="Username">Username: </label>
    <input id="Username" type="text" value="<%= @user.username %>" name="user[username]">
    <br>

    <label for="Password">Password: </label>
    <input id="Password" type="password" value="" name="user[password]">

    <input type="submit" value="Log In">
</form>