<form action="<%= cats_url %>" method="POST">
    <label for="name">Name: </label>
    <input id="name" type="text" name="cat[name]" value="<%= cat.name %>">
    <br>

    <label>Sex: </label>
    <input id="sex_choice1" type="radio" name="cat[sex]" value="M">
    <label for="sex_choice1">M</label>
    <input id="sex_choice2" type="radio" name="cat[sex]" value="F">
    <label for="sex_choice2">F</label>
    <br>

    <label for="color">Color: </label>
    <select id="color" name="cat[color]">
        <option value="-- select a color --" disabled="true" selected>-- select a color --</option>
        <option value="White">White</option>
        <option value="Black">Black</option>
        <option value="Orange">Orange</option>
        <option value="Brown">Brown</option>
    </select>
    <br>

    <label for="birth_date">Birth Date: </label>
    <input id="birth_date" type="date" name="cat[birth_date]">
    <br>

    <label for="description">Description: </label>
    <input id="description" type="textarea" name="cat[description]" value="<%= cat.description %>">

    <input type="submit" value="Create Cat">
</form>